*{
    padding: 0;
    margin: 0;
}
.btn-primary{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
}
/* header section starts */
.header{
    width: 100%;
    height: 100vh;
    background-image: url(./images/background.jpg),
    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: overlay;;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center ;
    align-items: center;
    
    
}
.header-container{
    text-align: center;
}
.hedaer-title{
    width: 420px;
    margin: auto;
    margin-bottom: 20px;
    color: burlywood;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.header-dec{
    width: 50%;
    margin: auto;
    color: white;
    margin-bottom: 20px;
}
/* header section ends */

/* donate section starts */
.donate-container{
   align-items: center;
   margin-top: 50px;
   text-align: center;
}
.title{
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.donate-dec{
    width: 40%;
    margin: auto;
    color: gray;
    margin-bottom: 20px;
}
.btn{
    width: 60px;
    height: 60px;
    border: none;
    color: gray;
    /* padding: 20px; */
    border-radius: 5px;
    margin-bottom: 30px;
    font-weight: bold;
}
.donate-btn{
    border: 2px solid red;
    color: red;
    background-color: rgba(255, 0, 0, 0.365);
    font-weight: bold;
    
} 
.sub-title{
    text-align: center;
    color: gray;
    margin-bottom:10px;
    font-size: 12px;
}
.donate-hr{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.donate-button{
   background-color: orangered;   
}
/* donate section ends */
/* donate plan section starts */
.donate-plan-container{
    text-align: center;
    margin-top: 70px;
}
.donate-plan-dec{
    width: 40%;
    margin: auto;
    color: gray;
    margin-bottom: 30px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container{
    width: 300px;
    height: 350px;
    background-color: gray;
    border-radius: 5px;
    margin: 0 10px;
    margin-bottom: 20px;
}
.card-img{
    padding: 20px;
}
.card-title{
    padding: 10px;
    margin-left: 10px;
}
.card-dec{
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.second-card-container{
    background-color: lightpink;
}
.third-card-container{
    background-color: burlywood;
}
.donate-help{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
.donate-help-card{
    width: 350px;
    height: 320px;
    border-radius: 5px;
    margin: 0 10px;
}
.help-title{
    width: 320px;
    padding: 20px;
}
.help-dec{
    padding: 20px;
}
.body-img{
    width: 350px;
    height: 320px;
    border-radius: 5px;
}
.donate-help-btn{
    width:140px;
    background-color: red;
    margin-left: 20px;
    font-weight: bold;
}
.donate-helped{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.body-card{
    margin-left: 20px;
}
/* donate plan section ends */

/* update section */
.update-container{
    text-align: center;
    margin-top: 90px;
}
.update-title{
    font-weight: bold;
    font-family: 'Handlee', cursive;
}
.update-dec{
    width: 50%;
    margin: auto;
    padding: 15px;
    color: gray;
}
.update-button{
    display: flex; 
    background-color: blanchedalmond;
    width: 50%;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 90px;
    border-radius: 5px;
}
.update-btn{
    width: 90px;
    height: 30px;
    border: none;
    background-color: red;
    color: white;
}
.email-btn{
    width: 200px;
    background-color: gray;
    color: white;
    border-left: 1px;
}
/* update sectuon ends */
/* footer section */
.footer-container{
   background-color: black;
   color: white;
   text-align: center;
   padding: 20px;
   margin-top: 80px;
   width: 100%;
   height: 90px;
   margin: 0 auto;
}
.footer-title{
    font-family: 'Fasthand', cursive;
    margin-bottom: 10px;
    color: brown;
}
.footer-dec{
    color: gray;
}